body {
  background-color: #e5e5e5;
}

.app {
  text-align: center;
  height: 100%;
  width: 1147px;
  margin: 30px auto;
  background-color: #f7f7f7;
  /* background-color: aquamarine; */
}

.movies {
  margin: 0 auto;
  padding: 30px;
  max-width: 1010px;
  min-width: 420px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #FFFFFF;
}
