$gold : #e9d100;


.movie {
  margin-bottom: 30px !important;
  max-height: 281px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;

  &__genres {
    display: flex;
  }

  &__genre {
    margin: 10px 0;
    padding: 2px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    display: inline;
    color: rgba(0, 0, 0, 0.65);
  }
  &__description {
    color: #000000 !important;
    font-size: 12px;
    line-height: 22px;
    height: 130px;
    width: 228px;
  }
  &__vote {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border: 2px solid $gold;
  }
}




