$vote_red : #E90000;
$vote_orange : #E97E00;
$vote_gold : #E9D100;
$vote_green : #66E900;


.movie {
  margin-bottom: 30px !important;
  max-height: 281px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;

  &__genres {
    display: flex;
    margin-bottom: 8px;
  }

  &__genre {
    margin: 8px 8px 0 0;
    padding: 2px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    display: inline;
    color: rgba(0, 0, 0, 0.65);
  }
  &__description {
    color: #000000 !important;
    font-size: 12px;
    line-height: 22px;
    height: 130px;
    width: 228px;
  }
  &__vote {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border: 2px solid ;

    &__red{
      border-color: $vote_red;
    }

    &__orange{
      border-color: $vote_orange;
    }

    &__gold{
      border-color: $vote_gold;
    }

    &__green{
      border-color: $vote_green;
    }
  }


}




