$small: 320px;
$sm: 350px;
$md: 768px;
$lg: 1120px;
$screen-xl: 1440px;

$vote_red : #E90000;
$vote_orange : #E97E00;
$vote_gold : #E9D100;
$vote_green : #66E900;


.movie {
  margin-bottom: 30px !important;
  max-height: 281px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
  @media screen and (max-width: $md) {
    min-width: 387px !important;
    width: 387px !important;
  }

  &__genres {
    display: flex;
    margin-bottom: 8px;
  }

  &__genre {
    margin: 8px 8px 0 0;
    padding: 2px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    display: inline;
    color: rgba(0, 0, 0, 0.65);
  }

  &__cover{
    height: 281px;
    width: 183px;

    @media screen and (max-width: $md) {
      margin: 10px 0 0 10px;
      height: 91px;
      width: 60px !important;
    }
  }

  &__description {
    color: #000000 !important;
    font-size: 12px;
    line-height: 22px;
    height: 130px;
    width: 228px;

    @media screen and (max-width: $md) {
      position: relative;
      margin-top: 20px;
      left: -70px;
      width: 367px;
      height: 92px;
    }
  }
  &__vote {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    @media screen and (max-width: $md) {
      top: 10px;
      right: 5px;
    }

    &__red{
      border-color: $vote_red;
    }

    &__orange{
      border-color: $vote_orange;
    }

    &__gold{
      border-color: $vote_gold;
    }

    &__green{
      border-color: $vote_green;
    }

    
  }
  &__rate{
        
        @media screen and (max-width: $md) {
          position: relative !important;
          float: right !important;
        }
      }

}

.ant-card-body{
  @media screen and (max-width: $md) {
    padding: 13px !important;
    width: 320px;
  }
}



